h1
{
    color: rgb(150, 38, 202);
    text-align: center;
    font-size: 260%;
    font-family: monospace;
}
h1:hover
{
    color: rgb(197, 62, 181);
    text-align: center;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}s
p
{
    color: rgb(233, 72, 150);
}

h2
{
    color: rgb(204, 13, 125);
    text-align: center;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2:hover
{
    color: rgb(59, 179, 133);
    text-align: center;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
video
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    