h1
{
    color: rgb(41, 104, 12);
    text-align: center;
    font-size: 260%;
    font-family: monospace;
}
h1:hover
{
    color: rgb(18, 225, 146);
    text-align: center;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}s
p
{
    color: rgb(94, 205, 173);
}

h2
{
    color: rgb(109, 142, 137);
    text-align: center;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2:hover
{
    color: rgb(59, 179, 133);
    text-align: center;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
video
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    